<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card class="ion-margin-bottom">
    <ion-card-header class="ion-text-center">
    <!-- Profile Photo -->
<div class="profile-photo">
  <ion-avatar>
    <img [src]="photo || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
  </ion-avatar>
<ion-button
  size="small"
  fill="clear"
  color="primary"
  class="choose-photo-btn"
  (click)="fileInput.click()">
  Choose photo
</ion-button>


  <input
    #fileInput
    type="file"
    accept="image/*"
    hidden
    (change)="onPhotoSelected($event)"
  />
</div>

      <ion-card-title class="ion-padding-top">Alex Johnson</ion-card-title>
      <ion-card-subtitle>Student ID: 009876</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <p>B.Sc. Computer Science</p>
      <p>Enrollment Year: 2024</p>
    </ion-card-content>
  </ion-card>
  
  <ion-list lines="full">
    
    <ion-list-header>
      <ion-label>Account Details</ion-label>
    </ion-list-header>

    <ion-item detail button>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>Personal Information</ion-label>
    </ion-item>
    
    <ion-item detail button>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>Contact Information</ion-label>
    </ion-item>

    <ion-item detail button>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>
    
    <ion-list-header>
      <ion-label>App Settings</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-label>Push Notifications</ion-label>
      <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>

    <ion-button expand="block" color="danger" class="ion-margin-top" (click)="logout()">
  <ion-icon slot="start" name="log-out-outline"></ion-icon>
  Log Out
</ion-button>

  </ion-list>
  
</ion-content>