<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="units" href="/tabs/units">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Units</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="assignments" href="/tabs/assignments">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Assignments</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="grades" href="/tabs/grades">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Grades</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>