<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Weekly Timetable</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectedDay" scrollable>
      <ion-segment-button value="monday">
        <ion-label>Mon</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tuesday">
        <ion-label>Tue</ion-label>
      </ion-segment-button>
      <ion-segment-button value="wednesday">
        <ion-label>Wed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="thursday">
        <ion-label>Thu</ion-label>
      </ion-segment-button>
      <ion-segment-button value="friday">
        <ion-label>Fri</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none" *ngIf="schedule[selectedDay]; else noClasses">
    
    <ion-item-group>
      <ion-item *ngFor="let lesson of schedule[selectedDay]">
        <ion-card style="width: 100%; margin: 8px 0;">
          <ion-card-header>
            <ion-text color="primary">
              <p><strong>{{ lesson.time }}</strong></p>
            </ion-text>
            <ion-card-title>{{ lesson.subject }}</ion-card-title>
            <ion-card-subtitle>{{ lesson.type }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-icon name="location-outline"></ion-icon> {{ lesson.room }}
            <div class="button-container">
  <ion-button 
    *ngIf="lesson.room.includes('Online')" 
    fill="solid" 
    color="secondary" 
    class="narrow-button"
    (click)="openOnlineClass()">
    <ion-icon name="videocam-outline" slot="start"></ion-icon>
    Join Online Class
  </ion-button>
</div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-group>

  </ion-list>

  <ng-template #noClasses>
    <div class="ion-text-center" style="margin-top: 50px;">
      <ion-icon name="calendar-clear-outline" style="font-size: 64px; color: gray;"></ion-icon>
      <p>No classes scheduled for today.</p>
    </div>
  </ng-template>
</ion-content>