<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

      <!-- Profile Photo -->
<div class="profile-photo">
  <ion-avatar>
    <img [src]="photo || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
  </ion-avatar>
<ion-button
  size="small"
  fill="clear"
  color="primary"
  class="choose-photo-btn"
  (click)="fileInput.click()">
  Choose photo
</ion-button>


  <input
    #fileInput
    type="file"
    accept="image/*"
    hidden
    (change)="onPhotoSelected($event)"
  />
</div>

  <!-- Basic Info -->
  <ion-card>
   <div class="profile-name">
  <h2>{{ teacher.fullName }}</h2>
  <p>{{ teacher.role }}</p>
</div>


    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Username</h3>
          <p>{{ teacher.username }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Email</h3>
          <p>{{ teacher.email }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Date of Birth</h3>
          <p>{{ teacher.dob }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>User ID</h3>
          <p>{{ teacher.userId }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Account Settings -->
  <ion-list>
    <ion-item button>
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>Personal Information</ion-label>
    </ion-item>

    <ion-item button>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>

    <ion-item button>
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      <ion-label>Push Notifications</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="danger" class="ion-margin-top" (click)="logout()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    Log Out
  </ion-button>

</ion-content>
