.profile-header {
  text-align: center;
}

.profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11px;   /* ← ЭТО СМЕЩАЕТ ФОТО ВНИЗ */
  margin-bottom: 8px;
}


.choose-photo-btn {
  font-size: 10px;
  margin-top: 4px;
}
.profile-name {
  text-align: center;
  margin-top: 12px;
}
