<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard" href="/student-tabs/dashboard">
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assignments" href="/student-tabs/assignments">
      <ion-label>Assignments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="units" href="/student-tabs/units">
      <ion-label>Units</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grades" href="/student-tabs/grades">
      <ion-label>Grades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/student-tabs/profile">
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
