<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Assignment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
      
<!-- Unit -->
<ion-item>
  <ion-label position="stacked">Unit</ion-label>
  <ion-select placeholder="Select Unit" [(ngModel)]="unit">
     <ion-select-option value="programming">
      Programming I
    </ion-select-option>

    <ion-select-option value="mathematics">
      Mathematics
    </ion-select-option>

    <ion-select-option value="web">
      Web Development
    </ion-select-option>

    <ion-select-option value="logic">
      Logic & Algorithms
    </ion-select-option>

    <ion-select-option value="software">
      Software Project
    </ion-select-option>

    <ion-select-option value="database">
      Database Systems
    </ion-select-option>

    <ion-select-option value="ui">
      User Interface Design
    </ion-select-option>

    <ion-select-option value="ui-design">
      UI Design
    </ion-select-option>
  </ion-select>
</ion-item>

<!-- Assignment title -->
<ion-item>
  <ion-label position="stacked">Assignment Title</ion-label>
  <ion-input
    placeholder="Enter assignment title"
    [(ngModel)]="title">
  </ion-input>
</ion-item>

<!-- Description -->
<ion-item>
  <ion-label position="stacked">Description</ion-label>
  <ion-textarea
    rows="4"
    placeholder="Enter description"
    [(ngModel)]="description">
  </ion-textarea>
</ion-item>

<!-- Due date -->
<ion-item>
  <ion-label position="stacked">Due Date</ion-label>
  <ion-datetime
    presentation="date"
    [(ngModel)]="dueDate">
  </ion-datetime>
</ion-item>


      <!-- File -->
      <ion-item>
        <ion-label position="stacked">Assignment File</ion-label>
        <input type="file" />
        <ion-note>Allowed: PDF, DOC, DOCX</ion-note>
      </ion-item>

      <!-- Buttons -->
      <ion-row class="ion-margin-top">
        <ion-col size="6">
         <ion-button expand="block" class="ion-margin-top" (click)="save()">
  Create Assignment
</ion-button>

        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="medium" routerLink="/teacher-tabs/assignments">
            Cancel
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
